# Maven
/target/
**/target/

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# DB local (la generará el server)
data/
*.db
